:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%)
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    min-width: 375px;
    background-color: var(--eggshell);
    color: var(--wenge-brown);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center
}

main {
    margin: 100px auto;
    min-width: 375px;
    max-width: 735px;
    border-radius: 20px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr
}

li {
    line-height: 200%
}

li span {
    font-weight: 600
}

.omellete{
    width: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 10px
}

.intro {
    margin-top: 33px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--rose-white)
}

.intro h2 {
    font-family: inherit;
    font-weight: 600;
    margin: 0;
    color: var(--dark-raspberry);
    font-size: 20px
}

.intro li::after {
    background-color: var(--dark-raspberry)
}

h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 30px 0 18px;
    font-family: "Young Serif", serif;
    color: var(--dark-charcoal)
}

h2 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: normal;
    font-family: "Young Serif", serif;
    color: var(--nutmeg)
}

p {
    margin: 0;
    padding: 0;
    line-height: 150%
}

ul {
    margin: 10px 0 0 0;
    padding-left: 27px
}

ul li {
    position: relative;
    padding-left: 16px;
    font-size: 16px;
    list-style-type: none
}

ul li::before {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    left: -18px;
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--nutmeg)
}

ol {
    margin: 10px 0 0 0;
    padding-left: 27px;
}

ol li {
    position: relative;
    font-size: 16px;
    line-height: 135%;
    padding: 6px 0 6px 16px;
    color: var(--wenge-brown)
}

ol li::marker{
    color:  var(--nutmeg);
    font-weight: 700; 
}

table {
    margin-top: 15px;
    border-collapse: separate;
    width: 100%
}

table td {
    width: 50%;
    padding: 13px 0 13px 10px
}

table td:first-child {
    padding-left: 30px
}

table td:last-child {
    font-weight: 700;
    color: var(--nutmeg)
}

footer {
    align-self: stretch;
    margin: 20px 0 0 0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

footer div {
    text-align: center
}

footer a {
    color: var(--nutmeg)
}

.border-bottom {
    border-bottom: 1px solid var(--light-grey)
}

.img-wrapper {
    padding: 40px 40px 0 40px
}

.content-wrapper {
    padding: 0 40px 30px 40px
}

.second{
    padding-bottom: 25px
}

.third {
    margin-top: 30px
}

@media(max-width: 768px) {

    .img-wrapper {
        padding: 0
    }

    .content-wrapper {
        padding: 0 30px 30px 30px
    }

    .omellete,
    main {
        border-radius: 0;
        margin: 0;
    }

    h1 {
        font-size: 36px;
        line-height: 100%;
        margin-bottom: 25px;
    }

    footer {
        margin: 0;
    }

    footer>div {
        width: 100%
    }
}